.country__skeleton {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 2rem 0.5rem var(--shadow-country);
  min-height: 38rem;
  width: 30rem;
  color: var(--text);
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.2s;
}
.image__skeleton {
  width: 100%;
  height: 19rem;
  transform: translateY(-10px);
}
.title__skeleton {
  width: 70%;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.text__skeleton {
  padding: 0 2rem;
  margin-bottom: 1rem;
}
